@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    align-items: center;
    min-height: 100vh;
    background-color: #27292a;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    text-transform: uppercase;
}
.center span {
    animation: text 3s ease-in-out infinite;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 200px;
    font-weight: bold;
    animation: text 2s linear infinite ;
    
}
.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite ;
}
.disppear {
    animation:  vanish 4s forwards ;
}
@keyframes vanish {
    100% {
        display: none;
        visibility: hidden;
    }
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #ec6090 ; 
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #d85e5e ; 
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e65c00 ; 
    }
}
@keyframes text {
    0% {
        color:#ec6090 ;
    }
    50% {
        color: #d85e5e  ;
    }
    100% {
        color:#e65c00;
    }
}
.ring:before {
position: absolute;
content: '';
left: 0;
right: 0;
height: 100%;
width: 100%;
border-radius: 50%;
box-shadow: 0 0 5px rgba(225, 225, 225, .3);
}
em {
    text-decoration: underline;
}
/* navbar section  */
#toggler, label{
    display: none;
}
.navbar {
    display: flex;
  background-color: #1e1e1e;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

input {
    background-color:#2c2c2c ;
    padding: 15px;
    color: #fff;
    border-radius: 50px;
    border: none;
}
.nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 50px;
    /* margin-left: 20px; */

}
.nav a {
    color: #CCC;
    transition: 0.3s;
    text-decoration: none !important;

}
.nav a:hover  {
    transition: 0.3s;
    color: #e75e8d;
}
.profile {
    display: flex;
    align-items: center;
    background-color:#2c2c2c ;
    border: none;
    gap: 15px;
    color: #CCC;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px 40px;
}
.profile:hover {
    background-color: #e75e8d;
    transition: 0.5s;
    color: white;
}
.profile img {
    border-radius: 100%;
}

/* body  */

.body {
    background-color: #2c2c2c;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    border-radius: 30px;
}


/* section 1  */

.section1 {
    background-image: url(../templatemo_579_cyborg_gaming/assets/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px ;
    height: 400px;
}
.section1 h6 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
}
.section1 h4 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #fff;
}
.browse {
  background: #e75e8d;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
  padding: 10px 20px ;
}
.contain {
    flex: 0 0 auto;
}
 span {
    font-style: normal;
    color: #ec6090;
}

/* section 2  */
.section2 {
    background-color: #1e1e1e;
    padding: 50px ;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section2 h4 {
    color: #fff;
    font-size: 34px;
    margin-bottom: 30px;
}
button {
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: all .3s;
}
button:hover {
    background-color: #CCC;
    transition: all .3s;
    color: #ec6090;
}
.grid {
    display: grid ; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grid-content span {
    color: #666;
    font-size: 14px;
}
.grid-content {
    padding: 30px 15px;
    background-color: #2c2c2c;
    width: 100%;
    border-radius: 20px;
}
.grid-content img {
    border-radius: 23px;
    width: 100%;
}
.grid-content h4 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
}
.game {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
ul {
    margin-bottom: -15px;

}
ul li{
    text-align: right;
    color: #fff;
    font-size: 14px;
    list-style: none;
}
.discover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -70px;
    margin-top: 50px;
}
.discover-content {
    background: #e75e8d;
    width: 200px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 100px;
    padding: 10px 10px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  .flex-content {
    display: grid ; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));    
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .flex-content h4 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
.flex-content span {
    color: #666;
    font-size: 14px;
}

.flex-content img {
    max-width: 80px;
    border-radius: 23px;
}
.div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
i {
    color: white;
    cursor: pointer;
    margin-right: 5px;

}
#toggler {
    background-color: #2c2c2c;
}

/* < ================ profile css =================== > */

.section4 {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 50px;
    padding: 50px;
    width: 100%;
}
.section4 img {
    border-radius: 7%;
    width: 100%;
}

.section4 ul  {
    border-radius: 23px;
padding: 30px;
width: 300px;
background-color: #27292a;
}
.section4 li {
    width: 100%;
font-size: 14px;
color: #666;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
padding-bottom: 20px;
border-bottom: 1px solid #666;
}
.offline-button {
    font-size: 14px;
color: #fff;
background-color: #e75e8d;
padding: 8px 20px;
border-radius: 25px;
font-weight: 400;
width: 100px;
border: none;
margin-bottom: 15px;
}
.main-border-button a {
font-size: 14px;
color: #ec6090;
background-color: transparent;
border: 1px solid #ec6090;
padding: 12px 30px;
display: inline-block;
border-radius: 25px;
text-decoration: none;
overflow: hidden;
}
.offline {
width: 40%;
display: inline-flex;
flex-direction: column;
gap: 13px;
justify-content: left;
color: white;
align-items: right;
margin: 20px;
}
.offline p {
color: #666;
font-size: 15px;
line-height: 30px;
margin-bottom: 0px;

}
/* < ================ Browse css =================== > */

.head  {
    color: #ec6090;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}
.head  em {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
}
.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thumb img {
    width: 250px;
    border-radius: 20px;
}
.stage-two {
    z-index: 100;
    display: flex;
    border-radius: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 3%;
    width: 40%;

}
.dan {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.text-button a {
    text-decoration: none;
    font-weight: 600;
    color: #ec6090;
    font-size: 15px;
}
.stage-two ul li h6 {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}
.stage-two ul li h4 {
    font-size: 15px;
    padding-top: 7px;
}
.stage-two ul li img {
    float: left;
    margin-right: 15px;
    max-width: 80px;
    border-radius: 23px;
}
.stage-two li {
        border-bottom: 1px solid #27292a;
        margin-bottom: 28px;
        padding-bottom: 28px;
        display: flex;
        align-items: center; 
        width: 100%;   
        position: relative;
}
.stage-two ul  {
    position: relative;
    display: inline-block;
    width: 80%;
}
.stage-one {
    background-color: #1e1e1e;
    border-radius: 3%;
    padding: 3%;
    z-index: 10;
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sam {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sam span {
    color: #666;
    display: block;
    margin-top: 7px;
    font-weight: 400;
}
.sam h4 {
    margin-bottom: -7px;
    z-index: 1;
}
.stage-two ul li .download i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-23px);
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
    background-color: #27292a;
    border-radius: 50%;
}
.hover-effect h6 {
overflow: hidden;
background-color: rgba(6, 12, 15, 0.95);
color: #ec6090;
font-weight: 600;
font-size: 14px;
padding: 10px 20px;
display: inline-flex;
transition: 0.5s;
border-radius: 25px;
z-index: 1;
}
 .item .thumb {
    position: relative;
    overflow: hidden;
  }
  .item .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
    bottom: 15px;
  }
  .browse-section1 {
    display: flex;
    gap: 30px;
    /* flex-direction: column; */
    justify-content: space-between;
  }
  
   .item .thumb .hover-effect {
    position: absolute;
    bottom: -100px;
    text-align: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }
  .browse-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  .border-container {
    display: flex;
    gap: 30px;
  }
  .border {
    padding: 30px;
    border: 1px solid #444;
    border-radius: 23px;
    color: #666;
}
.border img {
    max-width: 60px;
    border-radius: 50%;
}
.border h4 {
    font-size: 20px;
    margin-top: 20px;
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
}

.browse-section2 h3 {
    color: #ec6090;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}
.browse-section2  em {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
}
.stream {
    width: 100%;
}
.stream-button {
    background: #e75e8d;
    width: 100px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 100px;
    padding: 5px 5px;
    cursor: pointer;

}
.stream-img {
    border-radius: 23px;
    height: 100%;
    width: 30%;
}
.stream-img img {
    border-radius: 23px;
    position: absolute;
    width: 250px;
}
.stream-img:hover .stream-hover {
    opacity: 100;
    transition: 0.3s;
}
.stream-hover {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    gap: 150px;
    width: 250%;
    padding: 10px;
    opacity: 0;
    /* align-items: flex-end; */

}
.stream-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    gap: 2px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.down {
    display: flex;
    align-items: center;
    width: 100%;
}
.foot {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    float: left;
    align-items: flex-start;
    justify-content: center;
}
.foot h4 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
}
.foot img {
    max-width: 46px;
    border-radius: 50%;
    /* float: left; */
}
.foot i {
    background-color: #e75e8d;
    border-radius: 100%;
    padding: 5px;   
}
.icon {
    display: flex;
    align-items: center;
    color: #e75e8d;
}
.icon-cover {
    display: flex;
    flex-direction: column;
}
.detail-img {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.detail-img img {
    width: 100%;
}
.next-items {
    background-color: #1e1e1e;
    padding: 50px;
    border-radius: 30px;
}
.items1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}
.items1 .game {
    background-color: #444;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
}
.items2-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.items2-img img {
    width: 100%;
    border-radius: 20px;
}
.next-items p {
    color: #666;
    line-height: 30px;
    font-size: 15px;
    margin-top: 30px;
}
.items-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 3px solid #ec6090;
    color: #ec6090;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 15px;
    transition: all .3s;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
@media screen and (max-width:1200px) {
    body {
        padding: 30px;
    }
    .section1 {
        padding: 30px;
    }
}
 @media screen and (max-width:900px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    input {
        display: none;
    }
    .body {
        padding: 20px;
    }
    .section2 {
        padding: 15px;
    }
    .grid-content img {
        width: 100%;
    }
    .section1 h4 {
        font-size: 30px;
    }
    .discover {
        margin-bottom: -30px;
    }
    label {
        display: inline-flex;
        background-color: #2c2c2c;
        padding: 10px;
    }
    #toggler:checked~.menu{
        max-height: 100%;
    }
    .nav {
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .nav a {
        width: 50%;
        text-align: center;
        padding: 20px;
        border-radius: 100px;
        transition: 0.3s;
    }
    .nav a:hover {
        background-color: #2c2c2c;
        transition: 0.3s;
        width: 100%;
    }
    .section4 {
        flex-direction: column;
        width: 100%;
    }
    .section4 p {
        width: 100%;
    }
    .section4 ul {
        width: 100%;
    }
    .third {
        width: 100%;
    }
    .offline {
        width: 100%;
    }
    .img {
        width: 100%;
    }
    .browse-section1 {
        flex-direction: column;
    }
    .stage-one {
        width: 100%;
    }
    .stage-two {
        width: 100%;
    }
    .border-container {
        flex-direction: column;
    }
    .items1 {
        flex-direction: column;
    }
    .detail-img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    .detail-section h1 {
        font-size: 30px;
    }
    .items2-img {
        flex-direction: column;
    }
    .next-items {
        padding: 10px;
    }
 }
